footer
{
  width: 100%;
  background-color:white;
}

p{
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.container{
  max-width: 1100px;
  margin: auto;
}
