header{
  width: 100%;
  background-color: red;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1100px;
}
img{
  width: 200px;
  height: 70px;
}
ul{
  display: flex;
}
li{
  font-size: 20px;
  color: white;
  margin: 0 15px;
  list-style: none;
}
