<div class="container">
  <div class="container-1">
    <img src="assets/img/banner-2.jpg" />
  </div>
  <div class="container-2">
    <form [formGroup]="cardForm">
      <h1>REGISTER FOR YOUR NEW CARD</h1>
      <input
        placeholder="Firstname"
        type="text"
        class="form-Control"
        formControlName="firstName"
      />

      <input
        placeholder="Lastname"
        type="text"
        class="form-Control"
        formControlName="lastName"
      />

      <input placeholder="DNI" class="form-Control" formControlName="dni" />

      <input
        placeholder="Email"
        type="email"
        class="form-Control"
        formControlName="email"
      />

      <input
        placeholder="Cellphone"
        class="form-Control"
        formControlName="cellPhone"
      />

      <input
        placeholder="Address"
        class="form-Control"
        formControlName="address"
      />

      <button [disabled]="cardForm.invalid" (click)="register()">
        REGISTER
      </button>
    </form>
  </div>
</div>
